.white-text {
    color: white;
}


.centered-container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100%;            
}

.navbar-content {
    display: flex;
    justify-content: space-around; 
    align-items: center;          
    width: 80%;                   
}


.title-section, .search-section, .filter-section, .add-btn-section {
    display: flex;
    align-items: center;
}

.search-section .form-control {
    width: 500px;
}

.bg-primary {
    background-color: #5d0090 !important;
}

.table th, .table td {
    background-color: #4e007a;
    border-color: #3c005c;
}

.modal-content {
    background-color: #5d0090;
}

.table.mt-3,
.table.mt-3 th,
.table.mt-3 td,
.table.mt-3 tr {
    color: #ffffff;
}

.custom-table tbody td {
    background-color: grey;
}

.title-section {
    flex-direction: column; 
    align-items: start;    
}

.light-placeholder::-webkit-input-placeholder {
    color: #cccccc;
}

.no-results-notification {
    color: red;
    margin-right: 40px;
}

.btn:disabled {
    background-color: grey;
  }
  

  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-controls button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}




/* Responsive Table for small screens */
@media only screen and (max-width: 768px) { 


    .table thead {
        display: none; 
    }

    .table tr {
        margin-bottom: 0.625em;
        display: block;
    }

    .table td {
        display: block; 
        text-align: right;
        position: relative;
        padding-left: 50%;
    }

    .table td::before {
        content: attr(data-title);
        position: absolute;
        left: 0;
        padding-left: 15px;
        text-align: left;
        font-weight: bold;
    }

    .table td {
        border-bottom: 1px solid #3c005c;
    }

    .table td:last-child {
        border-bottom: 0;
    }
}
